<!DOCTYPE html>
<html>
<head>
    <title>Успешная регистрация</title>
    <style>
    body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #333;
        }
        p {
            text-align: center;
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Регистрация прошла успешно!</h1>
    <p>Теперь вы можете <a href="{% url 'login_page' %}">авторизоваться</a>.</p>
</body>
</html>
